html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: black;
  --font-color: white;
  --secondary-bg-color: grey;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrap > * {
  flex: 0 1 auto;
}

.page-wrap > main {
  flex: 1 0 auto;
}

.d-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 16px;
}

header {
  display: flex;
  border-bottom: 1px solid black;
}

a {
  cursor: pointer;
  background-color: #f44336;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 1rem;
  opacity: 0.9;
}

a:hover,
a:active {
  opacity: 1;
}
